/* This is a CSS comment */

body {
	background-color: rgb(255,196,205);
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

.main {
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 0px 0px 50px 20px rgba(255, 255,255. 0.65);
	max-width: 600px; 
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
}

h1 {
	text-align: center;
	font-size: 48px;
	margin: 0;
	font-family: 'Chivo', sans-serif;
	text-shadow: 0 0 10px yellow;
}
h2 {
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0;
}

h3{
	margin-top: 0;
	cursor: pointer;
}

h3 + * {
	display: none;
}

img {
	display: block;
	margin: 20px auto;
	border: 10px solid yellow;
	border-radius: 50%;
}
p,
ul,
ol {
	line-height: 1.6;
	list-style: none;
	padding-left: 0;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: green;

}
a:hover {
	text-decoration: underline;
	color: limegreen;
	outline: none;
}
a:visited {
}